################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wolf3D.ReadyPlayerMe.Extras.Editor.csproj
/Wolf3D.ReadyPlayerMe.Editor.csproj
/Wolf3D.ReadyPlayerMe.csproj
/WebView.csproj
/VRC.SDKBase.Editor.ShaderStripping.csproj
/VRC.SDKBase.Editor.BuildPipeline.csproj
/VR NightClub 2.sln
/UserSettings
/Temp
/Siccity.GLTFUtility.Editor.csproj
/Siccity.GLTFUtility.csproj
/PunDemos.DemoSlotcarEditor.csproj
/PunDemos.DemoHubEditor.csproj
/ProjectSettings
/PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
/PhotonUnityNetworking.Utilities.Culling.Editor.csproj
/PhotonUnityNetworking.Utilities.csproj
/PhotonUnityNetworking.Editor.csproj
/PhotonUnityNetworking.Demos.csproj
/PhotonUnityNetworking.csproj
/PhotonRealtime.csproj
/PhotonChat.csproj
/Packages
/obj
/Logs
/Library
/Feathersoft.CustomCanvasRendering.Editor.csproj
/Feathersoft.CustomCanvasRendering.csproj
/ClientNetworkTransform.csproj
/Bootstrap.csproj
/Assets
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/.vsconfig
/.vs
